.home {
  text-align: center;
  color: black;
  font-family: "Oswald", sans-serif;
  margin: auto;
}

.cover {
  filter: grayscale(100%);
  width: 520px;
  height: 650px;
  object-fit: cover;
  object-position: center top;
}

.coverMobile {
  filter: grayscale(100%);
  width: 400px;
  height: 500px;
  object-fit: cover;
  object-position: center top;
}
