.homeStyle {
  position: fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: fixed;
  background-size: cover;
}

.homeText {
  color: whitesmoke;
  text-align: left;
  font-family: "Courier Prime", monospace;
  margin: 50px;
}

.homeTextMobile {
  color: whitesmoke;
  text-align: bottom;
  font-family: "Co1urier Prime", monospace;
  margin: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.contactInfoMobile {
  color: whitesmoke;
  text-align: left;
  font-family: "Courier Prime", monospace;
  margin: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
