.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: white;
}

.brand {
  justify-content: left;
  list-style: none;
  font-size: 200%;
  width: 100%;
  color: black;
}

.navbarlink {
  list-style: none;
  color: black;
  font-size: 100%;
  margin-right: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 50px;
}

.footerlink {
  display: flex;
  list-style: none;
  color: black;
  margin-left: 10px;
  height: 100%;
}

.footercopyright {
  display: flex;
  justify-content: right;
  align-items: center;
  list-style: none;
  font-size: 75%;
  width: 100%;
  color: black;
}
