.resumeStyle {
  font-family: "Oswald", sans-serif;
  margin: auto;
  text-align: center;
  margin-top: auto;
}

@media (max-width: 650px) {
  .resumeStyle {
    font-family: "Oswald", sans-serif;
    margin: auto;
  }
}

.downloadButton {
  color: black;
  font-family: "Oswald", sans-serif;
  background-color: white;
  border-color: black;
}

.downloadButton:hover {
  color: white;
  background-color: black;
  border-color: black;
  font-family: "Oswald", sans-serif;
}
.resume * {
  max-width: 1000;
}
