.resumeBackground {
  position: fixed;
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.resumeStyle {
  font-family: "Courier Prime", monospace;
  margin: 50px;
}
