.resumeStyle {
  font-family: "Oswald", sans-serif;
  margin: auto;
  text-align: center;
  margin-top: auto;
}

@media (max-width: 650px) {
  .resumeStyle {
    font-family: "Oswald", sans-serif;
    margin: auto;
  }
}

.downloadButton {
  text-decoration: "none";
  color: "black";
  font-family: "Oswald", sans-serif;
}

.resume * {
  max-width: 1000;
}
