.projectsBackground {
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.projectsStyle {
  font-family: "Courier Prime", monospace;
  margin: 50px;
}

@media (max-width: 650px) {
  .projectsStyle {
    font-family: "Courier Prime", monospace;
    margin: 10px;
  }
}

p {
  margin: 5;
}

li {
  color: teal;
  text-transform: uppercase;
}
