.projectsStyle * {
  font-family: "Oswald", sans-serif;
  margin: auto;
  justify-content: center;
}

.popupDescription * {
  font-family: "Oswald", sans-serif;
  font-size: 110%;
  text-align: justify;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.subtitle {
  margin-top: -50px;
}
