.projectsBackground {
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.projectsStyle {
  font-family: "Courier Prime", monospace;
  margin: 90px;
  margin-top: 10px;
}

@media (max-width: 650px) {
  .projectsStyle {
    font-family: "Courier Prime", monospace;
    margin: 10px;
  }
}

li h4 strong {
  color: teal;
  text-transform: uppercase;
  list-style: none;
}

h4 strong {
  font-family: "Francois One", sans-serif;
}
