.homeContainer {
  height: 100%;
}

.mainHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin: 0;
}

.jobTitle {
  border-right: .10em solid black;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation:
    typing-jobTitle 1.5s steps(40,end) forwards 1s,
    blink-caret .5s step-end infinite;
}

.alumnus {
  display: inline-block;
  overflow: hidden;
  border-right: .10em solid black;
  white-space: nowrap;
  width: 0;
  animation:
    typing-alumnus 1s steps(40,end) 3s forwards,
    blink-caret .5s step-end infinite;
}

@keyframes typing-jobTitle {
  from { width: 0%; }
  to { width: 90%; }
}
@keyframes typing-alumnus {
  from { width: 0%; }
  to { width: 58%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}
