.artistCardGrid {
  display: flex;  
  flex-wrap: wrap;
  justify-content: center;
}

.dropdowns * {
  height: 35px;
  width: 150px;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
}

.backButton {
  float: right;
}
