.resume {
  width: 100%;
}

.downloadButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.downloadButton a {
  color: black;
}

