.aboutStyle {
  font-family: "Oswald", sans-serif;
  margin: auto;
  width: 700px;
  text-align: justify;
}

@media (max-width: 650px) {
  .aboutStyle {
    width: 450px;
  }
}

.me * {
  display: flex;
  justify-content: center;
  margin: auto;
  filter: saturate(150%);
  width: 520px;
  height: 650px;
  object-fit: cover;
  object-position: center top;
}

@media (max-width: 650px) {
  .me * {
    width: 400px;
    height: 500px;
  }
}

h2 {
  text-align: center;
}

p {
  font-size: 120%;
}
