.aboutStyle {
  font-family: "Oswald", sans-serif;
  margin: auto;
  width: 100%;
  max-width: 700px;
  text-align: justify;
  position: relative;
}

.me * {
  display: flex;
  justify-content: center;
  margin: auto;
  filter: saturate(150%);
  width: 100%;
  height: auto;
  max-width: 520px;
  object-fit: cover;
  object-position: center top;
}

h2 {
  text-align: center;
}

p {
  font-size: 120%;
}
