.navBarLinks * {
  text-decoration: none;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  display: flex;
  text-decoration: none;
  width: 100%;
  font-family: "Courier Prime", monospace;
  font-size: 130%;
}
