.brand {
  text-decoration: none;
  justify-content: left;
  list-style: none;
  font-family: "Oswald", sans-serif;
  font-size: 200%;
  width: 100%;
}

.link * {
  list-style: none;
  color: grey;
  font-family: "Oswald", sans-serif;
  font-size: 100%;
}

.link:hover * {
  text-decoration-line: none;
  color: black;
}

.mobileMenu {
  background-color: #262522;
  font-family: "Oswald", sans-serif;
}

.mobileBrand {
  text-decoration: none;
  list-style: none;
  margin: auto;
  font-family: "Oswald", sans-serif;
  font-size: 150%;
}

.desktopnav {
  margin-left: 150px;
  margin-right: 150px;
}
